<h1>Main#index</h1>

<a href="/tasks/new">Add a book</a> <br/>
<%= link_to('Show a Book', {controller: 'tasks', action: 'index', page: 1}) %><br />
<%= link_to("Edit a book", edit_task_path(@task)) %> <br />


<h2> Books in Library</h2>
<ul>
<% @books.each do |book| %>
  <li><%= book.title %></li>
<% end %>
</ul>
